<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if site.github.owner_gravatar_url %}
      <a class="navbar-brand" href="{{ site.github.url }}/index.html">
        <img alt="Brand" src="{{ site.github.owner_gravatar_url }}" style="width: 20px; height: 20px; border-radius: 2px;">
      </a>
    {% endif %}
    {% if site.github.project_title %}
      <a class="navbar-brand" href="{{ site.github.url }}/index.html">{{ site.github.project_title }}</a>
    {% else %}
      <a class="navbar-brand" href="{{ site.github.url }}/index.html">{{ site.title }}</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% for link in site.data.header %}
          {% include navbarlink.html link=link %}
        {% endfor %}
      </ul>
    </div>
  </nav>

<div class="container">
  {% if site.alert %}
    <div class="sitealerts">
      <div class="alert alert-warning" role="alert">{{ site.alert }}</div>
    </div>
  {% endif %}
