<!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% feed_meta %}

        {% seo %}

        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link rel="apple-touch-icon" href="{{ site.github.url }}/icons/apple-touch-icon.png">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="https://kit.fontawesome.com/7a0df38f73.js" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% if page.noheader == null %}
        <style>
          :target:before, .thumbnail:before {
            content:"";
            display:block;
            height:4em; /* fixed header height*/
            margin:-4em 0 0; /* negative fixed header height */
          }
        </style>
        {% endif %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a>
            to improve your experience.</p>
        <![endif]-->
