<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% feed_meta %}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@enzanki_ars">
  <meta name="twitter:creator" content="@enzanki_ars">
  <meta name="author" content="Alex Shafer">

  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    <title>{{ page.title }}</title>
  {% elsif page.github.project_title %}
    <meta name="twitter:title" content="{{ page.github.project_title }}">
    <title>{{ page.github.project_title }}</title>
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    <title>{{ site.title }}</title>
  {% endif %}

  {% if page.url %}
    <meta name="twitter:url" content="{{ site.github.url | replace_first:'http://','https://' }}{{ page.url }}">
  {% endif %}

  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="description" content="{{ page.description }}">
  {% elsif page.github.project_tagline %}
    <meta name="twitter:description" content="{{ page.github.project_tagline }}">
    <meta name="description" content="{{ page.github.project_tagline }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  {% if page.image %}
    <meta name="twitter:image" content="{{ site.github.url | replace_first:'http://','https://' }}/img/{{ page.image }}">
  {% elsif site.github.owner_gravatar_url %}
    <meta name="twitter:image" content="{{ site.github.owner_gravatar_url }}">
  {% endif %}

  {% if page.previous.url %}
    <link rel="prev" href="{{ page.previous.url | prepend: site.github.url | replace_first:'http://','https://' }}" />
  {% endif %}
  {% if page.next.url %}
    <link rel="next" href="{{ page.next.url | prepend: site.github.url | replace_first:'http://','https://' }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <link rel="apple-touch-icon" href="{{ site.github.url | replace_first:'http://','https://' }}/icons/apple-touch-icon.png">

  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
  <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"></noscript>
  
  <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous" as="style" onload="this.rel='stylesheet'">  
  <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous"></noscript>
  
  <link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous"></noscript>
  
  <link rel="preload" href="{{ site.github.url | replace_first:'http://','https://' }}/css/main.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ site.github.url | replace_first:'http://','https://' }}/css/main.css"></noscript>
	
  <script>
  /*! loadCSS: load a CSS file asynchronously. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT */
  (function(w){
  	"use strict";
  	/* exported loadCSS */
  	var loadCSS = function( href, before, media ){
  		// Arguments explained:
  		// `href` [REQUIRED] is the URL for your CSS file.
  		// `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
  			// By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
  		// `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
  		var doc = w.document;
  		var ss = doc.createElement( "link" );
  		var ref;
  		if( before ){
  			ref = before;
  		}
  		else {
  			var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
  			ref = refs[ refs.length - 1];
  		}
  
  		var sheets = doc.styleSheets;
  		ss.rel = "stylesheet";
  		ss.href = href;
  		// temporarily set media to something inapplicable to ensure it'll fetch without blocking render
  		ss.media = "only x";
  
  		// wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
  		function ready( cb ){
  			if( doc.body ){
  				return cb();
  			}
  			setTimeout(function(){
  				ready( cb );
  			});
  		}
  		// Inject link
  			// Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
  			// Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
  		ready( function(){
  			ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
  		});
  		// A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
  		var onloadcssdefined = function( cb ){
  			var resolvedHref = ss.href;
  			var i = sheets.length;
  			while( i-- ){
  				if( sheets[ i ].href === resolvedHref ){
  					return cb();
  				}
  			}
  			setTimeout(function() {
  				onloadcssdefined( cb );
  			});
  		};
  
  		function loadCB(){
  			if( ss.addEventListener ){
  				ss.removeEventListener( "load", loadCB );
  			}
  			ss.media = media || "all";
  		}
  
  		// once loaded, set link's media back to `all` so that the stylesheet applies once it loads
  		if( ss.addEventListener ){
  			ss.addEventListener( "load", loadCB);
  		}
  		ss.onloadcssdefined = onloadcssdefined;
  		onloadcssdefined( loadCB );
  		return ss;
  	};
  	// commonjs
  	if( typeof exports !== "undefined" ){
  		exports.loadCSS = loadCSS;
  	}
  	else {
  		w.loadCSS = loadCSS;
  	}
  }( typeof global !== "undefined" ? global : this ));

	/*! CSS rel=preload polyfill. Depends on loadCSS function. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT  */
  (function( w ){
    // rel=preload support test
    if( !w.loadCSS ){
      return;
    }
    var rp = loadCSS.relpreload = {};
    rp.support = function(){
      try {
        return w.document.createElement( "link" ).relList.supports( "preload" );
      } catch (e) {
        return false;
      }
    };
  
    // loop preload links and fetch using loadCSS
    rp.poly = function(){
      var links = w.document.getElementsByTagName( "link" );
      for( var i = 0; i < links.length; i++ ){
        var link = links[ i ];
        if( link.rel === "preload" && link.getAttribute( "as" ) === "style" ){
          w.loadCSS( link.href, link );
          link.rel = null;
        }
      }
    };
  
    // if link[rel=preload] is not supported, we must fetch the CSS manually using loadCSS
    if( !rp.support() ){
      rp.poly();
      var run = w.setInterval( rp.poly, 300 );
      if( w.addEventListener ){
        w.addEventListener( "load", function(){
          w.clearInterval( run );
        } );
      }
      if( w.attachEvent ){
        w.attachEvent( "onload", function(){
          w.clearInterval( run );
        } )
      }
    }
  }( this ));
  
  function loadError() {
    var site = "YouTube";
    document.getElementById("blockedInfo").innerHTML = "<div class=\"alert alert-danger\" role=\"alert\">"
      + "<strong>" + site + " Blocked: </strong>You seem to be accessing this site from a location where "
      + site + " is blocked. As part of this site uses items from " + site + ", "
      + "please contact your network administrator in order to view this page as intended.</div>";
    var image_x = document.getElementById('blockedImage');
    image_x.parentNode.removeChild(image_x);
    ga('send', 'event', "YouTube Error", "YouTube Load Error");
  }
  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> -->
</head>
<body>
  <!-- Google Analytics -->
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-64309741-1', 'auto');
  ga('require', 'autotrack');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='https://cdnjs.cloudflare.com/ajax/libs/autotrack/0.6.5/autotrack.js'></script>
  <!-- End Google Analytics -->
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a>
  to improve your experience.</p>
  <![endif]-->
