{% if include.link.dropdown %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="link-{{ include.link.text | slugify }}" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ include.link.text }}
    </a>
    <div class="dropdown-menu" aria-labelledby="link-{{ include.link.text | slugify }}" >
      {% for link in include.link.dropdown %}
        {% if link.internal-link %}
          <a class="dropdown-item" href="{{ site.github.url }}/{{ link.internal-link }}">{{ link.text }}</a>
        {% else %}
          <a class="dropdown-item" href="{{ link.external-link }}">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </li>
{% elsif include.link.internal-link %}
  <li class="nav-item">
    <a class="nav-link" href="{{ site.github.url }}/{{ include.link.internal-link }}">{{ include.link.text }}</a>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ include.link.external-link }}">{{ include.link.text }}</a>
  </li>
{% endif %}
