---
layout: default
---

<h2>Category - {{page.title}}</h2>

{% if page.description %}
<hr />
{{ page.description }}
<hr />
{% endif %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for post in site.categories[page.category] %}
      <tr>
        <td>
          {{ post.date | date: "%A, %B %d, %Y" }}
        </td>
        <td>
          <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>